@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#custom {
    -fx-font-family: 'Poppins';
}
.button {
    -fx-background-color: #98B1EA; 
    -fx-background-radius: 8; /* rounded corners 4 javaFX */
    -fx-text-fill: #ffffff;
}
.button:hover {
    -fx-background-color: #859aca;
}
.label {
    -fx-font-family: 'Poppins';
}
#login {
    -fx-font-weight: bold;
}
#register:hover {
    -fx-text-fill: #859aca;
}