@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#custom {
    -fx-font-family: 'Poppins';
}
.button {
    -fx-background-color: #98B1EA; 
    -fx-border-radius: 5; 
    -fx-text-fill: #ffffff;
}