@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#custom {
    -fx-font-family: 'Poppins';
}
.button {
    -fx-background-color: #98B1EA; 
    -fx-background-radius: 8; /* rounded corners 4 javaFX */
    -fx-text-fill: #ffffff;
}
#loginUser {
    -fx-background-color: #98B1EA; 
    -fx-background-radius: 8;
    -fx-text-fill: #ffffff;
}
#loginUser {
    -fx-font-family: 'Poppins';
}
#SignUp {
    -fx-font-family: 'Poppins';
}